/*
Theme Name: Wedding
Author:Navdeep
Author URI: https://navdeepdhindsa.com/
Text Domain: Wedding
description: Wedding theme;
*/

*{
	box-sizing: border-box;
	font-family: Raleway;
}

body{
	margin: 0;
}

.utility{
	display: inline-block;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.header_top{
	height: 100px;
	width: 960px;
	margin: 0 auto;
}

.logo, .tagline, .utility_links{
	display: inline-block;
}

.utility_links{
	text-align: right;
	width: 25%;
}

.logo{
	font-size: 72px;
	font-family: Charmonman;
	width: 40%;
}

.tagline{
	font-size: 24px;
	color:#888;
	width: 30%;
}
.utility{

}

.pink{
	color: #f00058;
	font-family: Charmonman;
}

nav {
	background-color: #333;
	height: 50px;
	padding-top: 15px;
}

.nav_inner{
	width: 960px;
	margin: 0 auto;
}

nav ul{
	margin:  0 auto;
	padding: 0;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	border:0;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	
	padding: 15px;
	height: 60px;
	font-size: 17px;
	width: 20%;
	width: 200px;
	margin: 0;
}

nav ul li a:hover, nav ul li a.active {
	background-color: #f00058;
}

.slider{
	height: 516px;
    padding: 40px 0 0 32px;
    background: url(slider-bg.png) 0 0 no-repeat;
    background-size: 960px 430px;
}

.slider_inner{
	max-width: 97%;
	max-height: 73%;
	overflow: hidden;;
}

.content{
	min-height: 200px;
}

.left_content{
	width: 30%;
}

.right_content{
	width: 70%;
}

.left_content , .right_content{
	padding: 10px;
	display: inline-block;
	float: left;
}

footer{
	clear: both;
	border-top: 1px solid #ccc;
	min-height: 100px;
}

.footer_nav{
	width: 60%;
	float: left;
}

.copyright{
	margin-top: 15px;
	float: left;
}

footer ul{
	width: 60%;
	padding: 0;
}

footer ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
	border:0;
	width: 20%;

}

footer ul li a{
	color: #000;
	text-decoration: none;
	padding: 15px;
	height: 60px;
	font-size: 17px;
	width: 20%;
	max-width: 200px;
	margin: 0;
}


footer ul li a:hover{
	color: #f00058;
}

.left_content_2{
	width: 50%;
	display: inline;
	float: left;
}
.right_content_2{
	width: 50%;
	display: inline;
	float: left;
}